.info {
  display: flex;
  justify-content: center;
  h3 {
    padding: 0 15px;
  }
}
.flex {
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .banco {
    flex: 1;
  }
  .cuenta {
    margin-left: 5px;
    flex: 2;
  }
  .referencia {
    flex: 1;
    margin-left: 5px;
  }
}
.duplicado {
  background-color: rgba(211, 126, 15, 0.938);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .duplicado-info {
    margin-top: 10px;
    flex: 1;
    display: flex;
    span {
      strong {
        padding-left: 10pxs;
      }
      flex: 1;
    }
    span:not(:first-child) {
      padding-left: 10px;
    }
    .folio {
      flex: 0.5;
    }
  }
}

.spinner-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
