<h2 mat-dialog-title>
  AUTORIZACION
  {{
    transaccion.transferencia ? 'TRANSFERENCIA BANCARIA' : 'DEPOSITO BANCARIO'
  }}
  Folio: <strong>{{ transaccion.folio }}</strong>
</h2>

<div class="duplicado" *ngIf="posibleDuplicadoCallcenter">
  <span>Posible duplicado (CallCenter)</span>
  <div class="duplicado-info">
    <span class="folio"
      >Folio: <strong>{{ posibleDuplicadoCallcenter?.folio }}</strong></span
    >
    <span
      >Suc: <strong>{{ posibleDuplicadoCallcenter?.sucursal }}</strong></span
    >
    <span
      >F. Dep:
      <strong>{{
        posibleDuplicadoCallcenter?.fechaDeposito | date: 'dd/MM/yyyy'
      }}</strong></span
    >
    <!-- <span
      >Importe:
      <strong>{{ posibleDuplicadoCallcenter?.total | currency }}</strong></span
    > -->
    <span
      >Solicitó:
      <strong> {{ posibleDuplicadoCallcenter?.updateUser }}</strong></span
    >
  </div>
</div>

<div class="duplicado" *ngIf="posibleDuplicadoSiipap">
  <span>Posible duplicado (SIIPAP):</span>
  <div class="duplicado-info">
    <span class="folio"
      >Folio: <strong>{{ posibleDuplicadoSiipap?.folio }}</strong></span
    >
    <span
      >Suc:
      <strong>{{ posibleDuplicadoSiipap?.sucursal?.nombre }}</strong></span
    >
    <span
      >F. Dep:
      <strong>{{
        posibleDuplicadoSiipap?.fechaDeposito | date: 'dd/MM/yyyy'
      }}</strong></span
    >
    <!-- <span
      >Importe:
      <strong>{{ posibleDuplicadoSiipap?.total | currency }}</strong></span
    > -->

    <span
      >Solicitó:
      <strong> {{ posibleDuplicadoSiipap?.updateUser }}</strong></span
    >
  </div>
</div>

<mat-dialog-content>
  <div class="info">
    <h3>IMPORTE:</h3>
    <h3>{{ transaccion.total | currency }}</h3>
    <div class="depositos-importes" *ngIf="!transaccion.transferencia">
      <span
        >Efectivo:
        <strong>{{ transaccion.importes.efectivo | currency }}</strong></span
      >
      <span
        >Cheque:
        <strong>{{ transaccion.importes.cheque | currency }}</strong></span
      >
      <span
        >Tarjeta:
        <strong>{{ transaccion.importes.tarjeta | currency }}</strong></span
      >
    </div>
  </div>

  <div class="content">
    <mat-form-field class="banco">
      <input
        matInput
        placeholder="Banco Origen"
        value="{{ transaccion.banco.nombre }}"
        disabled
      />
    </mat-form-field>
    <mat-form-field class="cuenta">
      <input
        matInput
        placeholder="Cta Destino"
        disabled
        value="{{ transaccion.cuenta.descripcion }} ({{
          transaccion.cuenta.numero
        }})"
      />
    </mat-form-field>
    <mat-form-field class="referencia">
      <input
        matInput
        [formControl]="control"
        placeholder="Referencia"
        tabindex="1"
      />
    </mat-form-field>
  </div>
  <div class="spinner-panel" *ngIf="buscandoDuplicados">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="25">
    </mat-progress-spinner>
    <span> Buscando duplicados en SIIPAP y CALLCENTER </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button
    mat-button
    (click)="submit()"
    cdkFocusInitial
    [disabled]="buscandoDuplicados"
  >
    ACCEPTAR
  </button>
</mat-dialog-actions>
