/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.router-link-active {
  background-color: mat-color($accent);
  color: mat-color($accent, default-contrast);
}

.active {
  background-color: mat-color($accent);
  color: mat-color($accent, default-contrast);
}

.active-nav {
  // background-color: mat-color($primary);
  .mat-list-item-content {
    color: mat-color($primary);
  }
  mat-icon[matListIcon] {
    color: mat-color($primary);
  }
  color: mat-color($accent, default-contrast);
}
mat-nav-list {
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
    }
  }
}
