<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible'
    content='IE=edge'>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <meta name='viewport'
    content='width=device-width, initial-scale=1'>
  <link rel="stylesheet"
    href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque ex saepe velit sed? Exercitationem
      asperiores animi fugiat corrupti omnis repudiandae esse quas id ex doloribus modi, laudantium quis eaque.</p>
  </div>
    {{>footer}}
</body>

</html>
