@import '~@angular/material/theming';
@import '../../../theme.scss';

.mat-card {
  padding: 0px;
  margin-bottom: 10px;
}
.mat-card-header {
  height: 45px;
  background-color: mat-color($accent);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding: 5px;

  .mat-card-title {
    font-size: 16px;
    display: flex;
    span:last-child {
      flex: 1;
      padding-left: 10px;
    }
  }
  .mat-card-subtitle {
    margin-bottom: 0;
    font-size: 14px;
    color: white;
    display: flex;
    span:last-child {
      flex: 1;
      padding-left: 10px;
    }
  }
}

.mat-card-actions {
  padding: 0;
}

.item-content {
  width: 100%;
  min-width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  padding: 5px 5px;

  .total {
    flex: 1;
    grid-column: span 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    .importe {
      font-size: 25px;
      font-weight: bold;
    }
    .tipo {
      text-align: center;
      font-size: 14px;
    }
  }

  .property {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    // align-items: baseline;
    text-transform: capitalize;
    padding: 0px 0 10px 0;
    span {
      flex: 1;
    }
  }
}

.warning-span {
  background-color: #f0950eb4;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}
.danger-span {
  background-color: #c23f50e0;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}
.valid-span {
  background-color: rgb(11, 143, 11);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.depositos-importes {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  span {
    padding-left: 10px;
  }
}

.fecha-deposito {
  font-weight: bold;
  font-size: 17px;
}
