<mat-toolbar color="primary">
  <button mat-icon-button (click)="toogle.emit(true)">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="mat-title">{{ title }}</h1>
  <div class="site-nav">
    <a
      *ngFor="let r of routes"
      mat-button
      [routerLink]="r.path"
      routerLinkActive="router-link-active"
    >
      <fa-icon [icon]="r.iconName"></fa-icon>
      <span>{{ r.title }}</span>
    </a>
    <a mat-button routerLink="/loginx" routerLinkActive="router-link-active">
      <fa-icon icon="sign-out-alt"></fa-icon>
    </a>
  </div>
</mat-toolbar>
