<mat-toolbar color="primary">
  <button mat-icon-button (click)="toogle.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">
    <h3 class="mat-title">{{ title }}</h3>
  </div>

  <div class="site-nav">
    <a
      class="active"
      mat-button
      [routerLink]="'/pedidos'"
      routerLinkActive="router-link-active"
    >
      <fa-icon icon="file-invoice-dollar"></fa-icon>
      <span>Pedidos</span>
    </a>
    <a
      mat-button
      [routerLink]="'/depositos'"
      routerLinkActive="router-link-active"
    >
      <fa-icon icon="hand-holding-usd"></fa-icon>
      <span>Depositos</span>
    </a>
    <a
      mat-button
      [routerLink]="'/clientes'"
      routerLinkActive="router-link-active"
    >
      <fa-icon icon="users"></fa-icon>
      <span>Clientes</span>
    </a>
    <a mat-button (click)="showProductos()">
      <fa-icon icon="layer-group"></fa-icon>
      <span>Productos</span>
    </a>
  </div>
  <button mat-icon-button [routerLink]="['/cart']">
    <mat-icon
      [matBadge]="cartItems"
      matBadgeColor="accent"
      [matBadgeHidden]="!cartItems && cartItems <= 0"
      >shopping_cart</mat-icon
    >
  </button>

  <a mat-icon-button routerLink="/notifications">
    <mat-icon>notifications</mat-icon>
  </a>

  <button mat-icon-button (click)="toogle.emit()">
    <fa-icon icon="cogs" size="lg"></fa-icon>
  </button>
</mat-toolbar>
