<div class="productos-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Catálogo de Productos</mat-card-title>
      <div class="actions">
        <button mat-icon-button (click)="load()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="grid-panel">
      <swrx-productos-table [partidas]="productos$ | async">
      </swrx-productos-table>
    </div>
  </mat-card>
</div>
