.productos-page {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  mat-card {
    width: 100%;
    mat-card-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .grid-panel {
      min-height: 500px;
      padding-top: 10px;
    }
  }
}
.add {
  margin-left: auto;
}
