<ion-grid [formGroup]="form">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Cliente:</ion-label>
        <ion-input formControlName="nombre"
          [clearInput]="true"
          autocapitalize="characters"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="form.getError('creditoRequerido')">
        Cliente no es de crédito
      </ion-note>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Fecha:</ion-label>
        <ion-datetime formControlName="fecha"
          displayFormat="MMMM DD,  YYYY"
          [value]="form.get('fecha').value"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <sxcc-tipo-de-pedido [parent]="form"></sxcc-tipo-de-pedido>
    </ion-col>
    <ion-col>
      <sxcc-forma-de-pago [parent]="form"></sxcc-forma-de-pago>
    </ion-col>
    <ion-col>
      <sxcc-sucursal [parent]="form"></sxcc-sucursal>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- Default Segment -->
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)"
    value="partidas"
    scrollable="true">
    <ion-segment-button value="partidas"
      layout="icon-start">
      <ion-icon name="list"></ion-icon>
      <ion-label>Partidas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cortes"
      layout="icon-start">
      <ion-icon name="cut"></ion-icon>
      <ion-label>Cortes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="envio"
      layout="icon-start">
      <ion-icon name="airplane"></ion-icon>
      <ion-label>Envío</ion-label>
    </ion-segment-button>
    <ion-segment-button value="resumen"
      layout="icon-start">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<div [style.display]="segment === 'partidas' ? 'block': 'none'">
  <sxcc-pedido-items-list [tipo]="controls.tipo.value"
    (delete)="removePartida($event)"
    [partidas]="partidas$ | async"></sxcc-pedido-items-list>
</div>
<div [style.display]="segment === 'cortes' ? 'block': 'none'">
  Corte importe: {{form.get('corteImporte').value | currency}}
</div>
<div [style.display]="segment === 'resumen' ? 'block': 'none'"
  *ngIf="summary$ | async as summary">
  <ion-grid>
    <ion-row>
      <ion-col offset-md="2"
        size-md="8">
        <sxcc-pedido-sumary [parent]="form"
          [summary]="summary$ | async">
        </sxcc-pedido-sumary>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<sxcc-pedido-validation [parent]="form"></sxcc-pedido-validation>
