.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr 35px;
  grid-gap: 1px 0px; // == a row-gap: 1px;
  align-items: stretch;
  height: 100vh;
  // border: .5px dotted black;

  .mat-toolbar {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    grid-column: span 3;
    grid-row: 1 / 2;
    align-items: center;
    box-sizing: border-box;
  }

  swrx-toolbar {

    grid-column: span 3;
    grid-row: 1 / 2;
    align-items: center;
    box-sizing: border-box;
  }

  .content {
    grid-column: span 3;
    grid-row: 2 / 3;
    box-sizing: border-box;
    overflow: scroll;
    // border: 1px dotted red;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(214, 214, 230, 0.89);
  }

  swrx-footer {
    grid-column: span 3;
    grid-row: 3 / 4;
  }
}


