/*
 * Remove template code below

:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid black;

}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gold;
  background-color: rgba(0, 0, 0, 0);
}

*/
